<input name="name" type="text"></input>
<input name="number" type="text"></input>
<button type="submit" onClick="generateButton(this)">Submit</button>
<script src="/public/main.js"></script>
<div id="result"></div>