body {
    background-color: black;
    color: whitesmoke;
    font-weight: 300;
    padding-left: 40px;
}

.bigweight {
  font-weight: 700;
}

.txt-rotate{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 60px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: rgb(255, 255, 180);
}

input {
  width: 700px;
}

input, button {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  background-color: black;
  border-color: white;
  border-style: solid;
  border-width: 1;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin-bottom: 20px;
  color: rgb(194, 194, 194)
}

span.big {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: rgb(147, 255, 255);
}

span.small {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: rgb(51, 126, 126);
}

button {
  border-width: 1;
  border-top-width: 1;
  border-left-width: 1;
  border-right-width: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

#result {
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  background-color: black;
  border-color: white;
}

.good{
  color: rgb(135, 255, 135);
}

.bad{
  color: rgb(255, 135, 135);
}

#result a{
  color: rgb(150, 150, 255)
}